# Compiled output
build
dist
tmp
/out-tsc

# Dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.cursorrules
.cursorignore

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
coverage
*.log

# System Files
.DS_Store
Thumbs.db

# nx
.nx/cache
.nx/workspace-data

# Custom
local/
rules-metadata.json
temp-rules-metadata.json

# Windsurf
.windsurf
